---
layout: page
---

{% for tag in site.tags %}
	<details>
		<summary>
			{{ tag[0] }}
		</summary>
		<ul>
			{% for post in site.posts %}
				{% if post.tags contains tag[0] %}
		    		<li><a href="{{ post.url }}">{{ post.title }}</a></li>
		    	{% endif %}
		    {% endfor %}
	    </ul>
	</details>
{% endfor %}

<br>
{% for post in site.posts | slice: 5 %}
  	<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  	<article>
  		{% include tag-list.html tags=post.tags %}
  		<br><br>
  		{{ post.content }}
  	</article>
  	<br><br>
  	<hr>
	<br><br>
{% endfor %}
